body{
    font-family: sans-serif;
    margin: 0px;
}
h1{
    font-size: 60px;
}
.komla-color{
    color: rgb(33, 156, 29);
}
.btn-top{
    text-decoration: none;
    padding: 20px 60px;
    background-image: linear-gradient(rgb(45, 231, 45), black);
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
}
.half-clmn{
    padding-left: 5%;
    width: 50%;
    padding-top: 100px;
}
.first-sec {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    display: flex;
}
.top-p{
    margin-bottom: 40px;
}
.top-img{
    width: 70%;
}
.scnd-clmn img {
    width: 70%;
}
.second-sec {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    display: flex;
    margin-top: 100px;
    background-position: right;
}
.scnd-clmn{
    width: 50%;
    padding-left: 5%;
}
.scnd-btn {
    text-decoration: none;
    padding: 20px 60px;
    background-image: linear-gradient(rgb(45, 231, 45), black);
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
}
.scnd-clmn p {
    margin-bottom: 50px;
}
.scnd-clmn h2 {
    font-size: 30px;
}